<div class="weather-data layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center">
    <label>Enter City: </label>
    <input
      type="text"
      class="large ml-30"
      placeholder="Seattle"
      data-test-id="app-input"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onChange($event)"
    />
  </section>

  <section class="mt-20 layout-row align-items-center justify-content-center">
    <div class="card outlined">
      <div
        *ngIf="searchedData"
        data-test-id="weather-details"
        class="card-text pt-10 layout-row justify-content-between"
      >
        <div class="mt-20 outlined">
          <button class="icon-only mx-2">
            <i class="material-icons">wb_sunny</i>
          </button>
          <span data-test-id="output-temperature" class="temperature">{{
            searchedData.temperature
          }}</span>
        </div>
        <div class="mr-15 mb-15">
          <div data-test-id="output-wind" class="mt-20">
            Wind: {{ searchedData.wind }}
          </div>
          <div data-test-id="output-humidity" class="mt-20">
            Humidity: {{ searchedData.humidity }}
          </div>
        </div>
      </div>
      <div
        *ngIf="searchTerm && !searchedData"
        data-test-id="no-results"
        class="card-text"
      >
        No Results Found
      </div>
    </div>
  </section>
</div>
